<div id="newsletter" class="newsletter-modal">

  <form action="//javascriptmasters.us11.list-manage.com/subscribe/post?u=23b975bd9e5ce60b5d3bc5662&amp;id=41b1cfa082" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="newsletter-form text-align-left" target="_blank" novalidate>

    <p>Todo novo conteúdo será enviado em primeira mão para o seu email através de nossa newsletter :)</p>

    <div>
      <label class="newsletter-modal-label" for="mce-EMAIL">Email</label>
      <input class="newsletter-modal-input" type="email" value="" name="EMAIL" id="mce-EMAIL">
    </div>

    <div style="position: absolute; left: -5000px;">
      <input type="text" name="b_23b975bd9e5ce60b5d3bc5662_41b1cfa082" tabindex="-1" value="">
    </div>

    <div class="margin-top-3">
      <input type="submit" onclick="hideNewsletterModal()" value="Assinar newsletter!" name="subscribe" id="mc-embedded-subscribe" class="button button-small button-filled">
      <a href="#" title="Fechar" class="button button-small">Fechar</a>
    </div>

  </form>

</div>

<script type="text/javascript">
  function hideNewsletterModal() {
    location.hash = '#';
  }
</script>