<!-- Large devices -->
<div class="container-fluid margin-top-2 margin-bottom-3 visible-lg visible-md visible-sm">
  <div class="row">
    <div class="col-xs-6 text-align-left">

      <a href="/">
        <div class="logo logo-icon-medium-expand">Javascript Masters</div>
      </a>

    </div>
    <div class="col-xs-6 text-align-right">

      <a class="button button-medium" href="/blog/">
        Mindfulness
      </a>

      <a class="button button-border button-medium" href="#newsletter">
        Assine a newsletter
      </a>

      {% include newsletter-modal.html %}

    </div>
  </div>
</div>

<!-- Small devices -->
<div class="container-fluid margin-top-2 margin-bottom-3 visible-xs">
  <div class="row">
    <div class="col-xs-12 text-align-center">

      <a href="/">
        <div class="logo logo-full-medium">Javascript Masters</div>
      </a>

    </div>
  </div>
</div>


