/*
 * LOGO
 * Estilização base do logo, sem as medidas.
 */

.logo {
  display: inline-block;
  position: relative;
  cursor: pointer;
  vertical-align: middle;
  font-family: 'Hind';
  font-weight: 400;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  white-space: nowrap;
  background-color: $yellow-default;
  color: $gray-dark;
  border-radius: 10000px;
}

.logo:before {
  transition: all 1s;
  content: '';
  background: url(/images/yin-yang.svg);
  background-size: cover;
  border-radius: 50%;
  position: absolute;
}

.logo:hover:before {
  -webkit-transform: rotateZ(-1080deg);
  -moz-transform: rotateZ(-1080deg);
  -ms-transform: rotateZ(-1080deg);
  transform: rotateZ(-1080deg);
}


/*
 * LOGO FULL MEDIUM
 * Versão do logo com ícone e texto de tamanho médio.
 */

 .logo-full-medium {
   font-size: 20px;
   letter-spacing: -0.7px;
   line-height: 20px;
   padding: 24px 21px 21px 58px;
   border-radius: 10000px;
 }

 .logo-full-medium:before {
   width: 32px;
   height: 32px;
   border-radius: 50%;
   top: 25%;
   left: 17px;
 }


/*
 * LOGO ICON MEDIUM
 * Versão do logo apenas com o ícone de tamanho médio.
 */

 .logo-icon-medium {
   line-height: 0px;
   min-width: 64px;
   min-height: 64px;
 }

 .logo-icon-medium:before {
   width: 32px;
   height: 32px;
   border-radius: 50%;
   top: 25%;
   left: 25%;
 }



/*
 * LOGO ICON MEDIUM EXPAND
 * Versão do logo apenas com o ícone de tamanho médio, mas que expande.
 */

  .logo-icon-medium-expand {
    font-size: 20px;
    letter-spacing: -0.7px;
    line-height: 20px;
    border-radius: 10000px;
    padding: 24px 8px 21px 58px;
    overflow: hidden;
    width: 17px;
    color: transparent;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    text-indent: -10px;
  }

  .logo-icon-medium-expand:hover {
    color: #000;
    padding: 24px 21px 21px 58px;
    width: 223px;
    text-indent: 0px;
  }

  .logo-icon-medium-expand:before {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    top: 25%;
    left: 17px;
  }




/*
 * LOGO ICON BIG
 * Versão do logo apenas com o ícone de tamanho grande.
 */

 .logo-icon-big {
   line-height: 0px;
   min-width: 256px;
   min-height: 256px;
 }

 .logo-icon-big:before {
   width: 128px;
   height: 128px;
   border-radius: 50%;
   top: 25%;
   left: 25%;
 }
