---
layout: default
---

<ul class="posts-list">
  {% for post in paginator.posts %}
    <li>
      <a class="posts-list-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      <div class="posts-list-date">{{ post.date | date: "%d/%m/%Y" }}</div>
    </li>
  {% endfor %}
</ul>

<div class="divider-width-100"></div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="pagination-previous">« Anterior</a>
  {% endif %}
  <span class="pagination-page-numbers">Página {{ paginator.page }} de {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="pagination-next">Próxima »</a>
  {% endif %}
</div>
