---
layout: default
---

<ul class="posts-list">
  {% for page in paginator.posts %}
    <li>
      <a class="posts-list-title" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      <div class="posts-list-date">
        {% if page.youtube_id %}

          <div class="margin-right-0 display-inline-block">
            <a href="https://www.youtube.com/watch?v={{page.youtube_id}}" target="_blank" title="Veja o vídeo deste post">
              <img src="https://s.ytimg.com/yts/img/favicon_32-vfl8NGn4k.png" class="post-meta-icon">
            </a>
          </div>

        {% endif %}

        • {{ page.categories }}
        • {{ page.date | date: "%d/%m/%Y" }}
      </div>
    </li>
  {% endfor %}
</ul>

<div class="divider-width-100"></div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="pagination-previous">« Anterior</a>
  {% endif %}
  <span class="pagination-page-numbers">Página {{ paginator.page }} de {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="pagination-next">Próxima »</a>
  {% endif %}
</div>
