---
layout: default
author: Filipe Deschamps
author-url: https://www.filipedeschamps.com.br
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-meta">

      {% if page.youtube_id %}

        <div class="margin-right-1 display-inline-block">
          <a href="https://www.youtube.com/watch?v={{page.youtube_id}}" target="_blank">
            <img src="https://s.ytimg.com/yts/img/favicon_32-vfl8NGn4k.png" class="post-meta-icon">Veja o vídeo deste post
          </a>
        </div>

      {% endif %}


      {% if page.author %}
        <div class="margin-right-1 display-inline-block">
          • <a href="{{page.author-url}}" target="_blank">{{ page.author }}</a>
        </div>
      {% endif %}

      <div class="margin-right-1 display-inline-block">
        • <a href="/blog/{{page.categories }}/">{{page.categories }}</a>
      </div>

      <div class="margin-right-1 display-inline-block">
        • {{ page.date | date: "%d/%m/%Y" }}
      </div>


    </div>

  </header>


  <article class="post-content">
    {{ content }}
  </article>


  {% if page.youtube_id %}

    <h2>Ou veja o vídeo deste post :)</h2>

    <div class="responsive-youtube margin-top-2 margin-bottom-4">
      <iframe src='https://www.youtube.com/embed/{{page.youtube_id}}' frameborder='0' allowfullscreen></iframe>
    </div>

  {% endif %}


  <div class="post-comments">
    {% include post-comments.html %}
  </div>

</div>

{% include footer.html %}