---
layout: default
author: Filipe Deschamps
author-url: https://www.filipedeschamps.com.br
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-meta">

      {% if page.author %}
        <div class="margin-right-1 display-inline-block">
          • <a href="{{page.author-url}}" target="_blank">{{ page.author }}</a>
        </div>
      {% endif %}

      <div class="margin-right-1 display-inline-block">
        • <a href="/blog/{{page.categories }}/">{{page.categories }}</a>
      </div>

      <div class="margin-right-1 display-inline-block">
        • {{ page.date | date: "%d/%m/%Y" }}
      </div>


    </div>

  </header>


  {% if page.youtube_id %}

    <div class="responsive-youtube margin-top-2 margin-bottom-4">
      <iframe src='https://www.youtube.com/embed/{{page.youtube_id}}' frameborder='0' allowfullscreen></iframe>
    </div>

  {% endif %}


  <article class="post-content">
    {{ content }}

    <h2>Ou nos siga no Youtube e Facebook :)</h2>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="margin-top-2 margin-bottom-2">
          {% include youtube-follow-widget.html %}
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="margin-top-2 margin-bottom-2">
          {% include facebook-follow-widget.html %}
        </div>
      </div>
    </div>

  </article>


  <div class="post-comments">
    {% include post-comments.html %}
  </div>

</div>

{% include footer.html %}